RUST_LOG=debug,actix_web=info,hyper=info,rustls=info,reqwest=info
LISTEN_ADDRESS=0.0.0.0:8080
NEWRELIC_LICENSE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
NEWRELIC_SERVICE_NAME=wakaba_game_service_manage_api
BEARER_TOKEN=XCnjYj0qwlY/LM+7Tqi5d4ct8aE1wO3bmKgeMgGw+7k=
